.hero-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*width: 120.6%;*/
    margin: 0;
    max-width: none;
    margin-top: 15px;
    margin-left: -65px;
 margin-bottom: 2rem;
 overflow: visible !important;

}
.hero-image{
 background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/Images/hero.png');
    width: 121%;
    height: 900px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
/*.hero-image img{
width: 121%;
height: auto;
object-fit: cover;
display: block;
margin-left: -80px;
}*/
.container {
    width: 90%;
    max-width: none;
    padding: 0;
    margin: 0;
}

/* search bar */
.hero-search-container {
   position: relative;
  margin: 0 auto;
  width: 100%;
  margin-top: -200px;
   z-index: 1000;
  max-width: 600px;
  padding: 0 20px;
}

/* Search Form */
.hero-form {
  margin-top: -250px;
  width: 100%;
}

.search-input-wrapper {
  position: relative;
  width: 100%;
}

.hero-input {
  width: 100%;
  padding: 15px 50px 15px 20px;
  background-color: #f1c68ece;
  border: 2px solid #ffffff;
  border-radius: 30px;
  font-size: 18px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.hero-input:hover{
  border: 2px solid #aa7549;
  background-color: #f1c68e;
  transition: all 0.3s ease-in-out;
}
.hero-input::placeholder {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}
.hero-input:hover::placeholder {
  color: #ecb88a;
  font-size: 18px;
  font-weight: 400;
}
.hero-input:focus {
  outline: none;
}

/* Search Button */
.search-button {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.search-icon {
  width: 20px;
  height: 20px;
  color:#af5507;
  font-size: 18px;
  margin-right: 10px;
}
.search-icon:hover {
  color: #d3a175;
  transition: all 0.3s ease-in-out;
}






/* Media Queries */
@media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }
    .hero-wrapper {
        width: 116%;
        margin-left: -45px;
    }
    .hero-image img {
        margin-left: -60px;
    }
/*.hero-search-container {
      margin-top: -163px;
    }*/
  }
@media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }
    .hero-wrapper {
        width: 115%;
/*margin-left: -40px;*/
    }
  }
@media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
    .hero-wrapper {
        width: 125%;
        margin-left: -30px;
    }
    .hero-image img {
        margin-left: 2px;
    }
  }
  @media (max-width: 640px) {
    .container {
      max-width: 475px;
    }
    .hero-wrapper {
        width: 130%;
    }
/*.hero-search-container {
    left: 50%;
    transform: translateX(-50%);
  }*/
  }
@media (max-width: 475px) {
    .container {
      width: 100%;
    }
    .hero-wrapper {
        width: 149%;

    }
/*    .hero-search-container {
    left: 50%;
    transform: translateX(-50%);
  }*/
  }