.open-days-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
.open-days-content-image {
    display: flex;
    justify-content: right;
    align-items: right;
    margin-right: -45vw;
    margin-bottom: 15px;
}
.open-days-image {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.397);
    transition: transform 0.3s ease;
}
.open-days-image:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    filter: brightness(0.9);
}
.open-days-content-text-wrapper {
    position: relative;
    width: 100vw;
    left: 66%;
    right: 60%;
    margin-left: -59vw;
    margin-right: -60vw;
    background-color: #e4a671;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1vh;
    padding: 2rem 1rem;
}
.clock-icon {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 150px;
}
.open-days-content-text {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    margin-left: -70px;
}

/* Responsive Styles */
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
    .open-days-content-text-wrapper:hover {
        background-color: #a04f04;
    }
}

@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
    .open-days-content-image {
        margin-right: -30vw;
    }
    .open-days-content-text-wrapper {
        left: 4%;
        margin-left: -7vw;
        margin-right: -50vw;
        width: 109vw;
    }
    .open-days-content-text {
        font-size: 18px;
    }
    .open-days-content-text-wrapper:hover {
        background-color: #a04f04;
    }
}
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
    .open-days-wrapper {
        display: flex;
        flex-direction: column;
    }
    .open-days-content-image {
        display: block;
        justify-content: center;
        align-items: center;
    }
    .open-days-image {
        width: 90%;
        height: auto;
        margin-top: 50px;
        margin-left: -40px;
    }
    .open-days-content-text-wrapper {
        font-size: 20px;
        text-align: center;
        margin-left: -80px;
    }
    .open-days-content-text-wrapper:hover {
        background-color: #a04f04;
    }
    .open-days-content-text {
        font-size: 16px;
        margin-left: -122px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }
    .open-days-wrapper {
        margin-top: 3vh;
    }
    .open-days-image {
        width: 90%;
        border-radius: 20px;
        margin-top: 70px;
        margin-bottom: 2px;
    }
    .open-days-content-text-wrapper {
        padding: 1.2rem;
    }
    .open-days-content-text-wrapper:hover {
        background-color: #a04f04;
    }
    .open-days-content-text {
        font-size: 15px;
    }
    .clock-icon {
        margin-right: 150px;
    }
}
@media (max-width: 640px) {
    .container {
        max-width: 475px;
        /*padding: 0 15px;*/
    }

    .open-days-wrapper {
        margin-top: 4vh;
        flex-direction: column;
    }

    .open-days-content-image {
        margin-right: 20px;
        justify-content: center;
    }

    .open-days-image {
        width: 145%;
        margin: 20px 0 0 0;
        border-radius: 20px;
    }
    .open-days-content-text-wrapper {
        left: -10%;
        margin-left: -7vw;
        margin-right: -50vw;
        width: 170vw;
    }

    .open-days-content-text {
        font-size: 14px;
        margin-left: 0;
        padding: 0 30px;
    }

    .clock-icon {
        margin-right: -21px;
        width: 115px;
        transform: scale(0.85);
    }
}

/* Hover effects for touch devices */
@media (hover: none) {
    .open-days-image:hover {
        transform: none;
        filter: none;
    }
}
